<%= form_for @party do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :host_id %><br />
    <%= f.text_field :host_id %>
  </p>
  <p>
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </p>
  <p>
    <%= f.label :party_type_id %><br />
    <%= f.text_field :party_type_id %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.time_select :end_time %>
  </p>
  <p>
    <%= f.label :rsvp_date %><br />
    <%= f.date_select :rsvp_date %>
  </p>
  <p>
    <%= f.label :location_id %><br />
    <%= f.text_field :location_id %>
  </p>
  <p>
    <%= f.label :public_party %><br />
    <%= f.check_box :public_party %>
  </p>
  <p>
    <%= f.label :public_guestlist %><br />
    <%= f.check_box :public_guestlist %>
  </p>
  <p><%= f.submit %></p>
<% end %>
