<%= form_for(@party) do |f| %>
  <%= render :partial => "partials/errors", :locals => {:target => @party}  %>

  <div class="field">
    <%= f.label :name, 'Name: <span class="required">*</span>'.html_safe %> 
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date, 'Date: <span class="required">*</span>'.html_safe %> 
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :location_id, "Choose existing location:" %> 
    <%= f.collection_select(:location_id ,@locations,:id, :name,{:include_blank =>"Select Location"}) %>
  </div>
  <div class="field">
	<%= label_tag :new_location_name, "Location Name:" %>
	<%= text_field_tag :new_location_name, params[:new_location_name] %>
  </div>
  <div class="field">
	<%= label_tag :new_location_address, "Address:" %>
	<%= text_field_tag :new_location_address, params[:new_location_address] %>
  </div>
  <div class="field">
	<%= f.label :start_time, 'Start Time: <span class="required">*</span>'.html_safe %> 
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
	<%= f.label :end_time, 'End Time: <span class="required">*</span>'.html_safe %> 
    <%= f.time_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :description %> 
    <%= f.text_area :description %>l
  </div>
  <div class="field">
    <%= f.label :rsvp_date %> 
    <%= f.date_select :rsvp_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
