<h2 class="horizontal slide">Guest List</h2>
<% if invitations.length > 0 %>
  <table class="minimal">
  	<thead>
  		<tr>
  			<th>Name</th>
  			<th>Email</th>
			<th>Invite Sent</th>
  			<th># Expected</th>
  			<th># RSVP</th>
			<th>Actions</th>
  		</tr>
  	</thead>
  	<tbody>
  		<% for invite in invitations %>
    	<tr>
    		<td><%= link_to invite.guest.name , guest_path(invite.guest) %> </td>
    		<td><%= invite.guest.email %></td>
			<td><%= date_str invite.created_at %></td>
    		<td><%= invite.expected_attendees %></td>
    		<td><%= invite.actual_attendees %>  </td>
			<td><%= link_to 'Show Invitation', invite %></td>
    	</tr>
  		<% end%>
  	</tbody>
  </table>
<% end%>