<% title "Parties" %>

<%if @upcoming_parties.length > 0 %>
	<div class="horizontal_title">
		Upcoming Parties
	</div>
	<% for party in @upcoming_parties %>
		<div class="party_info">
			<%= link_to party.name, party %> &nbsp <%= party.date %> &nbsp <%= time(party.start_time) %>-<%= time(party.end_time) %> <br/>
			<p><%if party.location%>
	   				<%= party.location.name %>
	 			<%end%>
	 			&nbsp
				Number of guests invited: <%= party.guests.length %></p>
		</div>	
	<% end %>
<%end%>

<%if @past_parties.length > 0 %>
	<div class="horizontal_title">
		Past Parties
	</div>
	<% for party in @past_parties %>
		<div class="party_info">
			<%= link_to party.name, party %> &nbsp <%= party.date %> &nbsp <%= time(party.start_time) %>-<%= time(party.end_time) %> <br/>
			<p><%if party.location%>
	   				<%= party.location.name %>
	 			<%end%>
	 			&nbsp
				Number of guests invited: <%= party.guests.length %></p>
		</div>	
	<% end %>
<%end%>

<p><%= link_to "New Party", new_party_path(party) %></p>