<h2 class="horizontal">Upcoming Parties</h2>

<table class="minimal">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Location</th>
    <th>Time</th>
	<th># Expected</th>
	<th># Confirmed</th>
  </tr>

<% @upcoming_parties.each do |party| %>
  <tr>
    <td><%= link_to party.name, party %></td>
    <td><%= date party.date %></td>
    <td><%= party.location.name if party.location %></td>
    <td><%= "#{time party.start_time} - #{time party.end_time}" %></td>
	<td><%= party.number_expected_guests %></td>
	<td><%= party.number_actual_guests %></td>
  </tr>
<% end %>
</table>

<h2 class="horizontal">Past Parties</h2>

<table class="minimal">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Location</th>
    <th>Time</th>
	<th># Expected</th>
	<th># Confirmed</th>
  </tr>

<% @past_parties.each do |party| %>
  <tr>
    <td><%= link_to party.name, party %></td>
    <td><%= date party.date %></td>
    <td><%= party.location.name if party.location  %></td>
    <td><%= "#{time party.start_time} - #{time party.end_time}" %></td>
	<td><%= party.number_expected_guests %></td>
	<td><%= party.number_actual_guests %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Party', new_party_path %>
