<% title "Parties" %>

<%if @upcoming_parties.length > 0 %>
	<div class="horizontal_title">
		Upcoming Parties
	</div>
	<table class="minimal_table">
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th># Expected</th>
			<th># Confirmed</th>
		</tr>
	
		<% for party in @upcoming_parties %>
		<tr>
			<td><%= link_to party.name, party %></td>
			<td><%= party.date %> </td> 
			<td><%= time(party.start_time) %> </td>
			<td><%= time(party.end_time) %> </td>
			<td><%= party.number_expected_guests %></td>
			<td><%= party.number_confirmed_guests%></td>
		</tr>
		<% end %>
	</table>
<%end%>

</br>

<%if @past_parties.length > 0 %>
	<div class="horizontal_title">
		Past Parties
	</div>
	<table class="minimal_table">
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th># Expected</th>
			<th># Confirmed</th>
		</tr>
		<% for party in @past_parties %>
		<tr>
			<td><%= link_to party.name, party %></td>
			<td><%= party.date %> </td> 
			<td><%= time(party.start_time) %> </td>
			<td><%= time(party.end_time) %> </td>
			<td><%= party.number_expected_guests %></td>
			<td><%= party.number_confirmed_guests%></td>
		</tr>
		<% end %>
	</table>
<%end%>

<p><%= link_to "New Party", new_party_path(party) %></p>