<% title "Parties" %>

<%if @parties %>
<h3>Upcoming Parties:</h3>

<% for party in @parties %>
  <div class="party_info">
	<%= link_to party.name, party %> &nbsp <%= party.date %> &nbsp <%= time(party.start_time) %>-<%= time(party.end_time) %> <br/>
  <p><%if party.location%>
	   <%= party.location.name %>
     <%end%>
     &nbsp
  Number of guests invited: <%= party.guests.length %></p>
  </div>	
  	
  <% end %>
<%end%>

<p><%= link_to "New Party", new_party_path(party) %></p>