<% title "Parties" %>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Host</th>
    <th>Details</th>
    <th>Party Type</th>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Rsvp Date</th>
    <th>Location</th>
    <th>Public Party</th>
    <th>Public Guestlist</th>
  </tr>
  <% for party in @parties %>
    <tr>
      <td><%= party.id %></td>
      <td><%= party.name %></td>
      <td><%= party.user_id %></td>
      <td><%= party.details %></td>
      <td><%= party.party_type_id %></td>
      <td><%= party.date %></td>
      <td><%= party.start_time %></td>
      <td><%= party.end_time %></td>
      <td><%= party.rsvp_date %></td>
      <td><%= party.location_id %></td>
      <td><%= party.public_party %></td>
      <td><%= party.public_guestlist %></td>
      <td><%= link_to "Show", party %></td>
      <td><%= link_to "Edit", edit_party_path(party) %></td>
      <td><%= link_to "Destroy", party, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Party", new_party_path(party) %></p>
