<% title "Party" %>

<p>
  <strong>Id:</strong>
  <%= @party.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>
<p>
  <strong>Host:</strong>
  <%= @party.user_id %>
</p>
<p>
  <strong>Details:</strong>
  <%= @party.details %>
</p>
<p>
  <strong>Party Type:</strong>
  <%= @party.party_type_id %>
</p>
<p>
  <strong>Date:</strong>
  <%= @party.date %>
</p>
<p>
  <strong>Start Time:</strong>
  <%= @party.start_time %>
</p>
<p>
  <strong>End Time:</strong>
  <%= @party.end_time %>
</p>
<p>
  <strong>Rsvp Date:</strong>
  <%= @party.rsvp_date %>
</p>
<p>
  <strong>Location:</strong>
  <%= @party.location_id %>
</p>
<p>
  <strong>Public Party:</strong>
  <%= @party.public_party %>
</p>
<p>
  <strong>Public Guestlist:</strong>
  <%= @party.public_guestlist %>
</p>

<p>
  <%= link_to "Edit", edit_party_path(@party) %> |
  <%= link_to "Destroy", @party, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", parties_path %>
</p>
