<% if @party.location.address %>
	<%= render :partial => "partials/gmap", :locals => {:latitude => @party.location.latitude,:longitude => 
												@party.location.longitude }%> 
<% end %>

<h1 class="horizontal"><%= @party.name %></h1>
<div id="party_details_map">
	<div id="party_detail_container">
		<table class="details">
			<tr>
				<td>Date & Time:</td>
				<td><%= date @party.date %> &nbsp <%= time @party.start_time %> - <%= time @party.end_time %></td>
			</tr>
			<% if @party.location %>
			<tr>
				<td>Location:</td>
				<td><%= @party.location.name %> - <a id="address_link" href="#map_canvas"><%= @party.location.address %> <span id="google_maps_icon" </span></a></td>
			</tr>
			<% end %>
			<tr>
				<td>Description:</td>
				<td><%= @party.description %></td>
			</tr>
			<tr>
				<td>RSVP Date:</td>
				<td><%= date @party.rsvp_date %></td>
			</tr>
		</table>
	</div>
	
</div>
<h2 class="guest_list horizontal">Guest List</h2>
<% if @invitations.length > 0 %>
  <table class="minimal">
  	<thead>
  		<tr>
  			<th>Name</th>
  			<th>Email</th>
  			<th>Status</th>
  			<th># Expected</th>
  			<th># Confimed</th>
			<th>Actions</th>
  		</tr>
  	</thead>
  	<tbody>
  		<% for invite in @invitations %>
    	<tr>
    		<td><%= link_to invite.guest.name , guest_path(invite.guest) %> </td>
    		<td><%= invite.guest.email %></td>
    		<td><%= link_to "Pending", invitation_path(invite)      %> </td>
    		<td><%= invite.expected_attendees %></td>
    		<td><%= invite.actual_attendees %>  </td>
			<td><%= link_to 'Remove Invitation', invite, :confirm => 'Are you sure?', :method => :delete %></td>
    	</tr>
  		<% end%>
  	</tbody>
  </table>
<% end%>

<%= link_to 'Back', parties_path %> |
<%= link_to "Edit", edit_party_path(@party) %> |
<%= link_to "Destroy", @party, :confirm => 'Are you sure?', :method => :delete %>
<% if @party.location %>
		<div id="map_canvas" class="party_show">
		</div>
	<% end %>

