<div class="horizontal_title">
	Party Details - 
	<span>
		<%= link_to "Edit", edit_party_path(@party) %> |
    	<%= link_to "Destroy", @party, :confirm => 'Are you sure?', :method => :delete %> |
    	<%= link_to "View All", parties_path %>
    </span>
</div>

<div id="map_info">
  <%= image_tag "gmap.png",:size => "400x325", :alt => 'Map to Party'%> <br />
  <%= @party.location.address if(@party.location) %>
</div>
<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>
<p>
  <strong>Party Type:</strong>
  <%= @party_type.name if(@party.location) %>
</p>
<% if @party.location%>
	<p>
  		<strong>Location:</strong>
  		<%= @party.location.name %>
	</p>
<% end %>
<p>
  <strong>Details:</strong>
  <%= @party.details %>
</p>
<p>
  <strong>Date:</strong>
  <%= @party.date %>
</p>
<p>
  <strong>Start Time:</strong>
  <%= time(@party.start_time) %>
</p>
<p>
  <strong>End Time:</strong>
  <%= time(@party.end_time) %>
</p>
<p>
  <strong>Rsvp Date:</strong>
  <%= @party.rsvp_date %>
</p>
<br />
<br />
<br />

<div class="horizontal_title">
	<%= pluralize(@guests.length, 'Guest') %> - 
	<span>
		<%= link_to "Add", new_guest_path %>
    </span>
</div>

<% if @guests %>
  <table class="minimal_table">
  	<thead>
  		<tr>
  			<th>Name</th>
  			<th>Email</th>
  			<th>Status</th>
  			<th>Expected Attendees</th>
  			<th>Actual Attendees</th>
  		</tr>
  	</thead>
  	<tbody>
  		<% for invite in @invitations %>
    	<tr>
    		<td><%= link_to invite.guest.name , guest_path(invite.guest) %> </td>
    		<td><%= link_to invite.guest.email, guest_path(invite.guest) %> </td>
    		<td><%= link_to "Pending", guest_invitation_path(invite)      %> </td>
    		<td><%= invite.expected_attendees %></td>
    		<td><%= invite.actual_attendees %>  </td>
    	</tr>
  		<% end%>
  	</tbody>
  </table>
<% end%>
