<!--Code for dynamic background
<#% if @party.party_type%>
  <#% content_for :head do %>
    <#style type="text/css">
    	body {
    		background-image: url('images/birthday_cake.jpg');
    	}
    <#/style>
  <#% end %>
<#% end %>
-->

<div class="horizontal_title">
	Party Details - 
	<span>
		<%= link_to "Edit", edit_party_path(@party) %> |
    	<%= link_to "Destroy", @party, :confirm => 'Are you sure?', :method => :delete %> |
    	<%= link_to "View All", parties_path %>
    </span>
</div>
<% if @party.location%>
  <div id="map_info">
    <%= image_tag @party.location.google_map_url("400x325"), :alt => 'Map to Party'%> <br />
    <%# @party.location.address 
    %>
  </div>
<%else%>
  <div id="map_info">
  	<%= image_tag "gmap_placeholder.png", :alt => 'Add a location to get a map'%> <br />
  </div>
<%end%>
<table class="party_info_table">
	<tr>
		<th>Name:</th>
		<td><%= @party.name %></td>
	</tr>
    <tr>
    	<th>Party Type:</th>
    	<td><%= @party.party_type.name if @party.party_type %></td>
    </tr>
    <tr>
    	<th>Location:</th>
    	<td><%= @party.location.name if @party.location%></td>
    </tr>
    <tr>
    	<th>Address:</th>
    	<td><%= @party.location.display_address.html_safe if @party.location%></td>
    </tr>
  	<tr>
  		<th>Date:</th>
  		<td><%= @party.date %></td>
  	</tr>
  	<tr>
  		<th>Start Time:</th>
  		<td><%= time(@party.start_time) %></td>
  	</tr>
    <tr>
    	<th>End Time:</th>
    	<td><%= time(@party.end_time) %></td>
    </tr>
    <tr>
    	<th>Rsvp Date:</th>
    	<td><%= @party.rsvp_date %></td>
    </tr>
</table>
<table class="party_info_table"
	<tr>
		<th>Details:</th>
		<td><%= @party.details %></td>
	</tr>
</table>

<div class="horizontal_title">
	<%= pluralize(@guests.length, 'Guest') %> - 
	<span>
		<%= link_to "Add Guest", new_guest_path %> | <%= link_to "Invite a Guest", new_guest_invitation_path %>
    </span>
</div>

<% if @guests.length > 0 %>
  <table class="minimal_table">
  	<thead>
  		<tr>
  			<th>Name</th>
  			<th>Email</th>
  			<th>Status</th>
  			<th>Expected Attendees</th>
  			<th>Actual Attendees</th>
  		</tr>
  	</thead>
  	<tbody>
  		<% for invite in @invitations %>
    	<tr>
    		<td><%= link_to invite.guest.name , guest_path(invite.guest) %> </td>
    		<td><%= link_to invite.guest.email, guest_path(invite.guest) %> </td>
    		<td><%= link_to "Pending", guest_invitation_path(invite)      %> </td>
    		<td><%= invite.expected_attendees %></td>
    		<td><%= invite.actual_attendees %>  </td>
    	</tr>
  		<% end%>
  	</tbody>
  </table>
<% end%>
