<%= form_for(@guest) do |f| %>
  <%= render :partial => "partials/errors", :locals => {:target => @guest}  %>

  <div class="field">
	<%= f.label :name, 'Name: <span class="required">*</span>'.html_safe %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email , 'Email: <span class="required">*</span>'.html_safe%> 
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :notes %> 
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
