<% title "Party Types" %>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Active</th>
  </tr>
  <% for party_type in @party_types %>
    <tr>
      <td><%= party_type.id %></td>
      <td><%= party_type.name %></td>
      <td><%= party_type.active %></td>
      <td><%= link_to "Show", party_type %></td>
      <td><%= link_to "Edit", edit_party_type_path(party_type) %></td>
      <td><%= link_to "Destroy", party_type, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Party Type", new_party_type_path(party_type) %></p>
