<% title "Guest Invitations" %>

<table>
  <tr>
    <th>Party</th>
    <th>Guest</th>
    <th>Invited By</th>
    <th>Invite Code</th>
    <th>Expected Attendees</th>
    <th>Actual Attendees</th>
  </tr>
  <% for invite in @guest_invitations %>
    <tr>
      <td><%= link_to invite.party.name, party_path(invite.party)  %>
      <td><%= link_to invite.guest.name, guest_path(invite.guest) %></td>
      <td><%= invite.user.name %></td>
      <td><%= invite.invite_code %></td>
      <td><%= invite.expected_attendees %></td>
      <td><%= invite.actual_attendees %></td>
      <td><%= link_to "Show", invite %></td>
      <td><%= link_to "Edit", edit_guest_invitation_path(invite) %></td>
      <td><%= link_to "Destroy", invite, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Guest Invitation", new_guest_invitation_path(invite) %></p>
