<% title "Guest Invitation" %>

<p>
  <strong>Party:</strong
  <%= @guest_invitation.party.name %>
</p>
<p>
  <strong>Guest:</strong>
  <%= @guest_invitation.guest.name %>
</p>
<p>
  <strong>Invited By:</strong>
  <%= @guest_invitation.user.name %>
</p>
<p>
  <strong>Invite Code:</strong>
  <%= @guest_invitation.invite_code %>
</p>
<p>
  <strong>Expected:</strong>
  <%= @guest_invitation.expected_attendees %>
</p>
<p>
  <strong>Actual:</strong>
  <%= @guest_invitation.actual_attendees %>
</p>

<p>
  <%= link_to "Edit", edit_guest_invitation_path(@guest_invitation) %> |
  <%= link_to "Destroy", @guest_invitation, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", guest_invitations_path %>
</p>
