<div id="header_container">
	<table>
		<tr>
			<td class="app"> Party Manager </td>
			<td class="user_info">
	   			<% if logged_in? %>
        			<%= current_host.name + " ( " %>
					<%= link_to "My Account", edit_host_path(current_host) %> | 
					<%= link_to "Logout", logout_path %> )
      	 		<% else %>
        			<%= link_to "Sign up", signup_path %> or
         			<%= link_to "Log in", login_path %>.
      			<% end %>
      		</td>
      	</tr>
    </table>
</div>