<div id="menu_container">
	<div id="menu">
		<ul>
			<li><%= link_to 'Dashboard', dashboard_path %></li>
			<li><%= link_to 'Parties', parties_path %></li>
			<li><%= link_to 'Guests', guests_path %></li>
			<li><%= link_to 'Invitations', invitations_path %></li>
			<li><%= link_to 'Locations', locations_path %></li>
			<li><%= link_to 'Gifts', gifts_path %></li>
		</ul>
	</div>
</div>