<div id="accordion">
	<h3><a href="#">Step 1</a></h3>
    <div><%= image_tag "step1.gif", :size => "500x370" %></div>
	<h3><a href="#">Step 2</a></h3>
    <div><%= image_tag "step2.gif", :size => "500x370" %></div>
	<h3><a href="#">Step 3</a></h3>
    <div><%= image_tag "step3.gif", :size => "500x370" %></div>
	<h3><a href="#">Step 4</a></h3>
    <div><%= image_tag "step4.gif", :size => "500x370" %></div>
	<h3><a href="#">Step 5</a></h3>
    <div><%= image_tag "step5.gif", :size => "500x370" %></div>
</ul>