<h1 class="horizontal">Gift</h1>

<p>
  <b>Party:</b>
  <%= @gift.invitation.party.name %>
</p>

<p>
  <b>Guest:</b>
  <%= @gift.invitation.guest.name %>
</p>

<p>
  <b>Description:</b>
  <%= @gift.description %>
</p>

<p>
  <b>Note sent on:</b>
  <%= date_str @gift.created_at %>
</p>

<div class="link_actions">
<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>
</div>