<%= email_header.html_safe %>

<p>Dear <%= @invite.guest.name %>,</p>

<p>You have been invited to <b><%= @invite.user.name %>'s</b> party "<b><%=@invite.party.name%></b>".</p>

<%= ("<p>Details: " + @invite.party.details + "</p>" ).html_safe if @invite.party.details%>

<p>The party is taking place on <b><%=@invite.party.date%></b> from <b><%= time(@invite.party.start_time) %></b> to <b><%= time(@invite.party.end_time) %></b>.</p>

<% if @invite.party.location %>
<p>The party is located at: <b><%= @invite.party.location.address %></b></p>
<% end %>

<p><%= @invite.user.name %> is anticipating <b><%= pluralize(@invite.expected_attendees, 'guest') %></b> with you. Please RSVP <% if @invite.party.rsvp_date %> by <b><%= @invite.party.rsvp_date%></b> <% end %> at <b><%= url_for @invite.invite_url%></b>.</p>

<p>See you at the party!</p>
