<h1 class="horizontal">New invitation</h1>

<%= form_for(@invitation) do |f| %>
  <%= render :partial => "partials/errors", :locals => {:target => @invitation}  %>

  <div class="field">
    <%= f.label :party_id, 'Party: <span class="required">*</span>'.html_safe %>
    <%= f.collection_select(:party_id ,@parties,:id, :name,{:prompt =>"Select Party"})%>
  </div>
  <div class="field">
    <%= f.label :guest_id, 'Guest: <span class="required">*</span>'.html_safe %>
    <%= f.collection_select(:guest_id ,@guests,:id, :name,{:prompt =>"Select Guest"})%>
  </div>
  <div class="field">
	<%= f.label :expected_attendees, 'Expected Attendees: <span class="required">*</span>'.html_safe %>
    <%= f.text_field :expected_attendees %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', invitations_path %>
