<h1 class="horizontal">Invitation</h1>

<p>
  <b>Party:</b>
  <%= @invitation.party.name %>
</p>

<p>
  <b>Guest:</b>
  <%= @invitation.guest.name%>
</p>

<p>
  <b>Invite url:</b>
  <%= link_to @invitation.invite_url,  @invitation.invite_url %>
</p>

<p>
  <b>Expected attendees:</b>
  <%= @invitation.expected_attendees %>
</p>

<p>
  <b>RSVP'd attendees:</b>
  <%= @invitation.actual_attendees %>
</p>

<div class="link_actions">
<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
</div>