<p>
  <b>Party:</b>
  <%= @invitation.party.name %>
</p>

<p>
  <b>Guest:</b>
  <%= @invitation.guest.name%>
</p>

<p>
  <b>Invite code:</b>
  <%= @invitation.invite_code %>
</p>

<p>
  <b>Expected attendees:</b>
  <%= @invitation.expected_attendees %>
</p>

<p>
  <b>Actual attendees:</b>
  <%= @invitation.actual_attendees %>
</p>


<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
