<% title "Cohost Invitations" %>

<table>
  <tr>
    <th>Id</th>
    <th>Party</th>
    <th>User</th>
    <th>Invite Name</th>
    <th>Invite Email</th>
    <th>Invite Code</th>
    <th>Agree</th>
  </tr>
  <% for cohost_invitation in @cohost_invitations %>
    <tr>
      <td><%= cohost_invitation.id %></td>
      <td><%= cohost_invitation.party_id %></td>
      <td><%= cohost_invitation.user_id %></td>
      <td><%= cohost_invitation.invite_name %></td>
      <td><%= cohost_invitation.invite_email %></td>
      <td><%= cohost_invitation.invite_code %></td>
      <td><%= cohost_invitation.agree %></td>
      <td><%= link_to "Show", cohost_invitation %></td>
      <td><%= link_to "Edit", edit_cohost_invitation_path(cohost_invitation) %></td>
      <td><%= link_to "Destroy", cohost_invitation, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Cohost Invitation", new_cohost_invitation_path(cohost_invitation) %></p>
