<% title "Locations" %>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Description</th>
  </tr>
  <% for location in @locations %>
    <tr>
      <td><%= location.id %></td>
      <td><%= location.name %></td>
      <td><%= location.street %></td>
      <td><%= location.city %></td>
      <td><%= location.state %></td>
      <td><%= location.zip %></td>
      <td><%= location.latitude.to_s[0..4] %></td>
      <td><%= location.longitude.to_s[0..4] %></td>
      <td><%= location.description %></td>
      <td><%= link_to "Show", location %></td>
      <td><%= link_to "Edit", edit_location_path(location) %></td>
      <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Location", new_location_path(location) %></p>
