<h1 class="horizontal"><%= @location.name %></h1>

<div id="location_show"
<p>
  <b>Address:</b>
  <%= @location.address %>
</p>
<div id="map">
	<%= image_tag(@location.google_map_link, :size => "430x360") if @location %>
</div>
</div>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
