<% if @location.address %>
	<%= render :partial => "partials/gmap", :locals => {:latitude => @location.latitude,:longitude => 
												@location.longitude }%> 
<% end %>

<h1 class="horizontal"><%= @location.name %></h1>

<div id="location_show"
<p>
  <b>Address:</b>
  <%= @location.address %>
</p>
<div id="map_canvas">

</div>
</div>

<div class="link_actions">
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
</div>